body {
  color: #333333;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  align-items: center;
  margin: 0%;
}
h1 {
  font-family: "Bowlby One SC";
  color: #0007d6;
}

.nav {
  display: flex;
  justify-content: space-between;
  background-color: #0007d6;
  padding: 0.5rem;
  align-items: center;
}
.nav img {
  width: 100px;
}
.links {
  display: flex;
  gap: 2rem;
}
.select {
  border: none;
  background-color: #f7e700ca;
  padding: 1rem;
  border-radius: 1rem;
}

.card {
  display: flex;
  border-radius: 2rem;
  justify-content: space-around;
  background-color: rgb(255, 255, 255);
  border: 1px solid #868686;
  width: 50%;
  align-items: center;
  padding: 3rem;
  margin: auto;
  margin-top: 5rem;
  color: black;
  text-align: justify;
}
.card ul {
  margin: auto;
  list-style: none;
}
.card img {
  width: 300px;
  padding: 2rem;
  background-color: #f7e700ca;
  border-radius: 50%;
}

.active {
  color: yellow;
  text-decoration: none;
  font-size: x-large;
  text-shadow: 2px 1px #ffdf271d;
}

.unactive {
  color: white;
  text-decoration: none;
  font-size: x-large;
}
